<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="E-Commerce Test Suite" parallel="none" thread-count="1" verbose="1">

    <parameter name="browser" value="chrome"/>

    <test name="Product Page Tests" preserve-order="true">
        <classes>
            <class name="com.automation.tests.ProductPageTest">
                <methods>
                    <include name="testCompletePurchaseWithSizeL"/>
                    <include name="testAddProductToCart"/>
                    <include name="testSizeFilterFunctionality"/>
                    <include name="testPageTitle"/>
                    <include name="testCartTotalDisplay"/>
                    <include name="testEndToEndPurchaseFlow"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>